body {
  margin: 10px;
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-weight: 300;
  background: linear-gradient(90deg, yellow, green);
}

 hr {
  border: 2px solid lightgrey;
}

.text-muted {
  color: #fff;
  font-weight: 400;
  text-align: center;
  margin: 30px
}

.text-thin {
  font-weight: 100;
}

.title-super {
  font-size: 70px;
  color: white;
}

.title-logo {
  margin-top: 20px;
}

.job-title {
  color: white;
}
